<!DOCTYPE html>
<html>
<head>
  <title>
    
  Mon£yCa$hBoard
  </title>

  <header>Mon£yCa$hBoard</header>
  </br>
  <hr>
</head>

<body>
<a href="/merchant">Merchants</a>
<a href="/account">Accounts</a>
<a href="/transactions">Transactions</a>
<%= yield %>
</body>
</html>