<!DOCTYPE html>

<html lang = 'en'>

<head>

<style>

div.home  {
  width:100%;height:100%;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;border:2px solid #80BFFF;background:rgba(154,154,227,0.7);-webkit-box-shadow: #B3B3B3 5px 5px 5px;-moz-box-shadow: #B3B3B3 5px 5px 5px; box-shadow: #B3B3B3 5px 5px 5px;
}

div.picture {
  width:100%;height:100%;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;border:2px solid #80BFFF;background:rgba(154,154,227,0.7);-webkit-box-shadow: #B3B3B3 5px 5px 5px;-moz-box-shadow: #B3B3B3 5px 5px 5px; box-shadow: #B3B3B3 5px 5px 5px;
}

</style>

  <title>B and C's!</title>

  <link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body>

<%=yield%>

</body>

</html>