
<div class="home">


<center><h1>Welcome to B and C's B and B</h1></center>


<form action="/booking" method="post">
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name">
  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name">
  <br>



<label for="type">Select Room type:</label>
<select name="type">
  <option value="Single">Single</option>
  <option value="Double">Double</option>
  <option value="Family">Family</option>
  <option value="Suite">Suite</option>
  <option value="By_the_hour_room">Room for an hour...</option>
</select>
<label for="check_in">Check In Date:</label>
<input type="date" name="check_in" min= "2016-06-28"> 


<label for="nights">Nights:</label>
<input type="number" name="nights">
<hr>
<label for="breakfast">Would you like breakfast?:</label>
  <input type="radio" name="breakfast" value="true"> Yes
  <input type="radio" name="breakfast" value="false"> No



<hr>
<input type='submit' value="Submit Booking">
</form>
</div>

<div id="email">

<center><button type="button">Email Us!</button></center>
<br>
<a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Email Us!</a>
</div>


<div class="picture">

<center><p style="float: middle;"><img src="/front-of-house.jpg" width="95%" border="1px"></p><center>

</div>