<h2>Add Account</h2>

<form action="/account/transfer" method="post">

  <label for="account1">A/C ID to debit:</label>
  <input type="number" name="account1"><br>

  <label for="account2">A/C ID to credit:</label>
  <input type="number" name="account2"><br>

  <label for="amount">Amount to transfer: £</label>
  <input type="decimal" name="amount"><br>

  <input type='submit' value="Make transfer!">
</form>


<br>
<br>
<a href="/">Back</a>