<h2>Add Tag</h2>


<form action="/tag" method="post">

  <label for="name">Tag Description: </label>
  <input type="text" name="name"><br>

  <input type='submit' value="Add Tag!">
</form>


<br>
<a href="/">Back</a>

