html, body {
  height: 100%;
  font-family: Helvetica;
}

body {
  background-image: url('/map.jpg');
  background-size: cover;
  color: white;
  font-size: 16px;
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #bbb3ff;
  text-align: center;
  text-shadow: 3px 3px 2px black;
}

#info{
  margin-top: 10px;
  padding: 5px;
  width: 75%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba( 0, 0, 0, 0.168676 );
  box-shadow: 5px 5px 2px black;
}

#container{
  padding-top: 10px;
}

hr {
  background-image: linear-gradient(to right, rgba(60, 60, 60, 0), rgba(60, 60, 60, 0.75), rgba(60, 60, 60, 0));
  border: 0;
  height: 1px;
}

#footer {
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  background: linear-gradient(-170deg, #b3d1ff 0%, #002966 100%) no-repeat center center;
  width: 100%;
  height: auto;
  float: left;
  clear: both;
  box-shadow: 5px 5px 2px black;
  padding: 2px;
  margin-top: 20px;
  color: #bbb3ff;
}

p {
  padding-left: 10px;
}

