


header  {
  padding-bottom: 5px;
}

p  {
  font-family: sans-serif;
}

/*li {
    float: left;
}*/

a {
    /*display: block;*/
    padding: 4px;
    background-color: #dddddd;
}

li {
    float: left;
    display: inline;
}

.title{

  padding-bottom: 5px;
  background-color: #dddddd;
  font-family: sans-serif;
}

