


header  {
  padding-bottom: 5px;
}

p  {
  font-family: sans-serif;
}

/*li {
    float: left;
}*/

a {
    /*display: block;*/
    /*padding: 2px;*/
    background-color: #99ff99;
}

li {
    /*position 0*/
    /*float: left;*/
    display: inline-block;
}

.title{

  padding: 5px;
  background-color: #99ff99;
  font-family: sans-serif;
  font-size: 18px;
}

.navbar{
  /*padding: 2px;*/
  width: 100%
  float: left;
  background-color: #99ff99;

}

