<h1 class="home_header"> Toys from a galaxy far, far away... </h1>

<div>
    <center><p style="float: middle;"><img src="http://i1174.photobucket.com/albums/r607/sheep831/IMG_20160110_174424.jpg" height="200px" width="160px" border="1px"></p><center>
    <center><a href="/moc">Vintage figures on original cardbacks</a><center>
    
</div>


<div>
    <center><p style="float: middle;"><img src="http://i1174.photobucket.com/albums/r607/sheep831/20160620_095057_zpshw3yflgk.jpg" height="120px" width="160px" border="1px"></p><center>
    <center><a href="/loose">Loose complete collector grade figures</a><center>
    
</div>

<div>
    <center><p style="float: middle;"><img src="http://i1174.photobucket.com/albums/r607/sheep831/IMG_20160523_112601.jpg" height="120px" width="160px" border="1px"></p><center>
    <center><a href="/boxed">Boxed vehicles and playsets</a><center>
    
    
</div>







