<!DOCTYPE html>
<html>
<head>
  <title>My awesome vintage Star Wars page!</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>



<header>
<center><a href="http://s1174.photobucket.com/user/sheep831/media/images.jpeg.html" target="_blank" ><img src="http://i1174.photobucket.com/albums/r607/sheep831/images.jpeg" border="0" alt=" photo images.jpeg"/></a></center>



</header>
<ul class="navbar">
<li><a href="/">Home</a>
<li><a href="/about_us">About Me</a>
<li><a href="/wishlist">Wishlist</a>
<li><a href="/resources">Collecting Resources</a>
<li><a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">email me!</a>
</ul>


 <%= yield %> 

<footer>
  
</footer>
</body>
</html>

