<h1 class="home_header"> Things I want... </h1>
<p> ...and can probably never afford...</p>

<div>
    <center><p style="float: middle;"><img src="http://i1174.photobucket.com/albums/r607/sheep831/download.jpeg" height="240px" width="160px" border="1px"></p></center>
    <center><p>12 Back Stormtrooper MOC</p></center>
    <center><p>Value - £750 and up</p></center>
    <center><p>Pictured here is the rarer Japanese Tsukuda variant</p></center>
    
</div>

<div>
    <center><p style="float: middle;"><img src="http://i1174.photobucket.com/albums/r607/sheep831/DSC.jpeg" border="1px" alt=" photo DSC.jpeg"/></p></center>
    <center><p>12 Back Death Squad Commander</p></center>
    <center><p>Value - £300 and up</p></center>
    <center><p>Known for his distinctly un-PC name on early cardbacks,</p></center>
    <center><p>this figure was rebranded as the Star Destroyer Commander</p></center>
    <center><p>on ESB cardbacks.</p></center>
    
</div>

<div>
    <center><img src="http://i1174.photobucket.com/albums/r607/sheep831/esb_vehicles_at-at_mib_c-8_1_1.jpg" height="240px" width="320px" border="1px" alt=" photo esb_vehicles_at-at_mib_c-8_1_1.jpg"/></a></center>
    <center><p>ESB AT-AT Walker</p></center>
    <center><p>Value - £300 and up</p></center>
    <center><p>A hugely popular item when first released, this is the second</p></center>
    <center><p>largest vehicle released in the Kenner line, second only to the</p></center>
    <center><p>huge Imperial Shuttle.</p></center>
    
</div>

<div>
    <center><img src="http://i1174.photobucket.com/albums/r607/sheep831/sw_21_back_boba_fett_moc_c-8.5_unp.jpg" height="240px" width="160px" border="0" alt=" photo sw_21_back_boba_fett_moc_c-8.5_unp.jpg"/></a></center>
    <center><p>SW 21-back Boba Fett</p></center>
    <center><p>Value - £2,000 and up</p></center>
    <center><p>A 'holy grail' item for many collectors, the enormous price premium</p></center>
    <center><p>is due to the item's rarity, particularly in collector grade condition.</p></center>
    <center><p>Notable for being the only ESB character released on a SW cardback.</p></center>
    
</div>

<a href="http://s1174.photobucket.com/user/sheep831/media/DSC.jpeg.html" target="_blank">

</a>