<div id="subhead">
<h2>All Transactions</h2>
</div>

<div id="hmenu">
  <ul>
    <li><a href="/transaction/new">Add new transaction</a></li>
  </ul>
</div>

<% @transactions.each do |transaction| %>
Account Type : <%= transaction['type'] %><br>
Merchant : <%= transaction['name'] %><br>
Amount: £ <%= transaction['amount'] %>
<hr>
<% end %>


