<h2>Add Transaction</h2>

<form action="/transaction" method="post">

  <label for="account_id">Account ID:</label>
  <input type="number" name="account_id"><br>

  <label for="merchant_id">Merchant ID:</label>
  <input type="number" name="merchant_id"><br>

  <label for="tag_id">Tag ID:</label>
  <input type="number" name="tag_id"><br>

  <label for="amount">Amount:</label>
  <input type="decimal" name="amount"><br>

 <!--  <label for="trans_date">Date:</label>
  <input type="date" name="trans_date"><br> -->

  <!-- <label for="description">Description:</label>
  <input type="text" name="description"><br>

  <label for="type">Type:</label>
  <input type="text" name="type"><br> -->

  <input type='submit' value="Add Transaction!">
</form>


<br>
<br>
<a href="/">Back</a>