<h2>All Transactions for account <%=@account.type%></h2>

<div id="results">
  <% @accounts.each do |account| %>
  Account Type: <%= account['type'] %><br>
  Amount: £ <%= sprintf('%.2f', account['amount'].to_f) %><br>
  <hr>
  <% end %>
</div>
<div id="total">
  Total: £ <%= sprintf('%.2f', @total)%><br>
</div>


